.Master-Container{
  height: 100Vh;
  width: 100%;
  overflow-y: scroll;
  background: linear-gradient(90deg, rgba(149, 159, 251, 1) 0%, rgba(190, 195, 252, 1) 100%);
}

.Main-container{
  height: auto;
  width: 100%;
}

.container-card-wrapper{
  height: 100%;
  width: 100%;
}

.container-card{
  background: white;
  height: auto;
  width: 100% ;
  margin-top: 100px;
  position: relative;
}

.SpaceToy1-image-wrap{
  position: absolute;
  top: -92px;
  left: 30px;
}

.SpaceToy2-image-wrap{
  position: absolute;
  bottom: -50px;
  right: -4%;
}

.todolists-container{
  height: 300px;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
} 